.message-list-container {
    margin-bottom: 16px;
    flex: 1;
    overflow-y: scroll; /* Vertical scroll */
    overflow-x: hidden; /* Hide horizontal scroll */
}

.message-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.message {
    padding: 8px 16px;
    margin-bottom: 8px;
    background: var(--color-blue);
    border-radius: var(--border-radius);
    text-align: left;
}

.own-message {
    background: green;
    align-self: flex-end;
    text-align: right;
    padding: 8px 16px;
}

.mood {
    font-size: 12px;
    color: var(--color-gray);
    margin-top: 4px;
}